body{
	margin: 0;
}
section{

	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding: 63px;
}
.box{
	width: 33.33%;
	float: left;
	padding: 20px;
	box-sizing: border-box;	
}
p{
	font-size: 25px;

    margin: 0;

	line-height: 1.6;

	color: #4CAF50;
}

.red{
	background-color: red;
	padding: 20px;

}
.yellow{
	background-color: yellow;
	padding: 20px;	
}
.orange{
	background-color: orange;
	padding: 20px;
}